@media (max-width: 480px) {
    .menuPC{
      display: none;
    }
  }

  /* Styles the main text on hero page Lucjan K */

div.transbox p {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
  }

  /* GRID FOR HERO SECTION Lucjan*/

div.mainContent{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);  
  }
  
  div.link{
    grid-row-start: 10;
    grid-row-end: 12;
    grid-column-start: 2;
    grid-column-end: 4;
    white-space: nowrap;
  }
  
  div.transbox{
    grid-row-start: 2;
    grid-row-end: 10;
    grid-column-start: 2;
    grid-column-end: 12;
    white-space: wrap;
  }

/* BACKGROUND- SEKCJA HERO LucjanK */

div.sectionHero{
    box-sizing: border-box;
    background: url("backgrounds-blank-blue-953214.jpg") no-repeat;
    /* background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTgtUgW--9AsD8ZcBFRaw22jwk_L1MQLVD-ybALkXCs2ddvcviOSA") no-repeat;  */
    background-size: 100% 100%;
    width: 100vw;
    height: 100vh;
    background-size: auto;
    background-position: bottom;
  }

  @media only screen and (min-width: 481px) {
    a.li{
        font-size: 18px;
        padding: 0;
    }
    div.sectionHero {
      box-sizing: border-box;
      margin: 0px;
      background: url("backgrounds-blank-blue-953214.jpg") no-repeat;
      /* background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTgtUgW--9AsD8ZcBFRaw22jwk_L1MQLVD-ybALkXCs2ddvcviOSA") no-repeat;  */
      width: 100vw;
      height: 80vh;
      background-size: auto;
      background-position: bottom;
    }
  }

  /* Navigation bar - list of all sections */

.navClass{ 
    position: fixed;  
    top: 0;
    right: 0;
    left: 0;
    }
  
  #aboutUs{
    z-index: -2;
    position: relative;
  }
  
  ul.subMenu{
    display: none;
  }
  
  .navClass ul.mainMenu{
    background-color: #f8f8f8;
    color: rgb(10, 10, 9);
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    margin-top: 0px;
    margin-left: 100px;
    padding: 0px 0px;
    text-align: right;
  }
  
  ul.mainMenu{
    margin-left: 100px;
  }
  
  .navClass img.pageLogo{
    display: flex;
    justify-content: flex-start;
  }
  
  .navClass ul.mainMenu{
    margin: 0px 0px 0px 31px;
  }
  
  .navClass ul.mainMenuLogo{
    padding: 0px 0px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  
  .mobileMenu{
    padding: 0px;
    margin-right: 0px;
    width: 120px;
  }
  
  img.pageLogo{
    float: left;
    width: 33px;
    height: 33px;
  }
  
  .navClass > ul > li{
      list-style-type: none;
      display: inline-block;
      padding: 5px 0px;
      position: relative;
  }
  
  .navClass > ul > li > a{
    margin-left: 0px;
  }
  
  ul.subMenu{
    margin-top: 25px;
    position: absolute;
    width: 120px;
    background-color:rgb(255, 255, 255);
    list-style-type: none;
    text-align: center;
    display: 0;
  }
  
  .mobileMenu:hover .subMenu{
    display:block;
  }
  
  ul.subMenu li{
    padding: 5px 0px;
  }
  
  ul.subMenu li a{
    display: block;
  }
  
  .mainMenu li:hover .subMenu{
    display: 1;
  }
  
  ul.subMenu li:hover{
    color: rgb(5, 5, 2);
    background-color:rgb(10, 117, 99);
  }
  
  ul.subMenu li>a:active{
    color: black;
  }
  
  li .mobileMenu{
    width: 5px;
  }
  
  ul.subMenu{
    padding-left: 0px;
  }

  @media only screen and (min-width: 481px) {
    div.sectionHero{
      font-family: 'Roboto', sans-serif;
      box-sizing: border-box;
      margin: 0px;
      background: url("backgrounds-blank-blue-953214.jpg") no-repeat;
      /* background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTgtUgW--9AsD8ZcBFRaw22jwk_L1MQLVD-ybALkXCs2ddvcviOSA") no-repeat;  */
      background-size: 100% 100%;
      width: 100vw;
      height: 80vh;
    }
    .navClass{
      display: none;
    }
    .menuPC{
      display: flex;
      justify-content: flex-end;
      height: 65px;
      width: 100%;
      position: fixed;
      top: 0;
      background: #f8f8f8;
      box-shadow: 0px 0px 38px -21px rgba(0,0,0,0.68);
    }
      .menuPC a:hover{
      background-color: rgb(10, 117, 99);
    }
      .menuPC div{
      margin-top: 20px;
    }
      .menuPC a{
      background-color: #f8f8f8;
      font-size: 16px;
      padding: 22px 19px;
      width: 100%;
      height: 100%;
    }
      .li:active{
      color:white;
    }
      img.pageLogo{
      float: left;
      width: 65px;
      height: 65px;
      background-color: #f8f8f8;
      }
      div.transbox p {
        font-size: 30em;
      }
  }

/* FOR LARGE DEVICES Lucjan K */

@media only screen and (min-width: 1120px){

    div.link{
      grid-row-start: 10;
      grid-row-end: 11;
      grid-column-start: 4;
      grid-column-end: 12;
      white-space: nowrap;
    }
    
    div.transbox{
      grid-row-start: 3;
      grid-row-end: 7;
      grid-column-start: 7;
      grid-column-end: 12;
      white-space: wrap;
    }
    div.mainContent{
      font-family: 'Roboto', sans-serif;
      font-size: 30px;
    }
    div.transbox p{
      font-size: 45px;
    }
}