/* -----------------Feature list, JakubK ------------*/

.featureListCol1>div>img, .featureListCol2>div>img{
    width: 60px;
    height: 60px;
    margin: 5px 5px 5px 5px;
  }
  .featureListHeader{
    text-align: center;
    margin: 5px;
    background-color: rgb(230, 230, 230);
    box-shadow: 0px 0px 38px -21px rgba(0,0,0,0.68);
    padding: 2% 10%; 
  }
  #featureListWrapperID:hover>h1{
    background-color:  rgb(255, 255, 153);
    color: grey;
  }
  
  .featureListCol1>div, .featureListCol2>div{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .featureListCol1, .featureListCol2{
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    text-align: center;
  }
  
  .featureListCol1{
    border-right: 1px solid #000000 
  }
  
  div.featureList{
    display: grid;
    grid-auto-columns: 1fr 1fr;
    justify-items: center;
  
  }
  
  /* Desktop styles for the feature list, JakubK */
  
  @media (min-width: 481px){
    div.featureList {
    display: grid;
    grid-template-columns: 50% 50%;
    height: 20%;
    margin: 0 3% 0 3%;
    justify-items: center;       
  }
  }
  
  /* Desktop transition and animation for the extended feature menu */
  
  #featureListWrapperID:not(.featureListWrapperForHover)>div {
    height: 0px;
    padding: 0;
    margin: 0;
    overflow: hidden;
    transition-property: height;
    transition-duration: 1s;
  }
      
  .featureListWrapperForHover>div{
      
    transition-property: height;
    transition-duration: 2s;
    height: 402px;
    overflow: hidden;
  }
  
  /* Mobile transitions and animation for the extended feature menu */
  
  @media (max-width: 480px){

    div.featureList{
      display: flex;
      flex-flow: column; 

    }

    div.featureList>div{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    
    }

    div.featureList>div>div>p{
      text-align: left;
    }
  
    .featureListWrapperForHover>div{
      
      transition-property: height;
      transition-duration: 2s;
      height: 560px;
      overflow: hidden;
    }
  }
  
  /*-----------------feature list end----------*/
  /* Newsletter form, JakubK */
/* Desktop styles for newsletter premiere form - Jakub Karolak*/
.formWrapper{
    display: flex;
    justify-content: center;
    align-content: center;
    box-shadow: 0px 0px 38px -21px rgba(0,0,0,0.68);
    background: rgb(230, 230, 230);
}

.form{
    display: flex;
    align-items: center;
    flex-flow: column;
    text-align: center;
    width: 800px;
    background: rgb(230, 230, 230);
    box-shadow: 0px 0px 38px -21px rgba(0,0,0,0.68);
    margin: 0;
}

input[type="submit"]{
    margin-top: 5px;
    font-size: 1.05em;
    text-decoration: none;
    color: rgb(253, 255, 255);
    width: 100%;
    height: 100%; 
    background-color: green;
    border: solid;
    border-radius: 15px 15px 15px 15px;
    text-decoration: none;
    padding: 10%;
}

input[name="name"], input[name="userEmail"]{
    padding: 0px;
    border: 1px solid black;
    width: 200px;
    height: 10px;
    padding: 10%;
    border-radius: 15px 15px 15px 15px;
}

.premiereNewsletter{
    display: flex;
    flex-flow: column;
    align-items: center;
}

.newsletterSecurity{
    width: 80%;
    font-size: 0.7em;
}
/* Mobile styles for newsletter form, JakubK */
@media (max-width: 480px){
    .form{
        font-size: 0.8em;
    }
}  
/*--------------newsletter form end-------------*/