html {
  scroll-behavior: smooth;
}

body{
    box-sizing: border-box;
    background-color: white;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    max-width: 1920px;
    max-height: 1080px;
}

section.about-me{
    font-family: 'Roboto', sans-serif;  
    font-size: 12px;
    padding: 0;
    margin:0;
}

h1.heading{
    font-size: 2em;
    text-align:center;
    position:relative;
}

.icons {
  box-shadow: 0px 0px 38px -21px rgba(2,114,155,0.68);
}

.icons > div {
    text-align: center;
}

.icons > div > img {
    object-fit: contain;
    width: 30%;
    font-weight: 500;
}

.icons div p {
  font-weight: bold;
  font-size: 1.25rem;
}

/* mobile styles for icons and footer - MartaKirschenstein */

@media (max-width: 480px) {
  div.icons{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.mainFooter {
   width: 100%;
   height: auto;
   margin: auto;
   background:white;
   padding: 20px 0px;
   box-shadow: 0px 0px 38px -21px rgba(0,0,0,0.68);
}

.socialMediaFooter {
    width: 100%;
    height: auto;
    margin: auto;
}

.socialMediaFooter ul {
    margin: 0;
    padding: 0;
    text-align: center;
}

.socialMediaFooter ul li {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 0px 10px;
    
}

.footerInfo p {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: grey;
}

@media only screen and (min-width: 481px) {
    body {
        /* margin: 0;
        padding: 0 250px; */
        font-family: 'Roboto', sans-serif;
        font-size: 1.25em;
    }

    .icons {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 1rem;
        justify-items: stretch;
        text-align: center;
        margin: 0;
        padding: 2% 10%;  
        box-shadow: 0px 0px 38px -21px rgba(2,114,155,0.68); 
    }
  }

@media only screen and (min-width: 481px) {
    body {
        /* margin: 0;
        padding: 0 250px; */
        font-family: 'Roboto', sans-serif;
        font-size: 1.25em;
    }

    .icons {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 1rem;
        justify-items: stretch;
        text-align: center;
        margin: 0;
        box-shadow: 0px 0px 38px -21px rgba(2,114,155,0.68);
      }
  }
    
@media (min-width: 481px) {

}
/* end of desktop styles for icons - MartaKirschenstein */

.container{
    display:flex;
    flex-direction:column;
    align-content:center;
    align-items:center;
    
}
.card-wrapper{
    display:flex;
    flex-direction:column;
    align-content: center;
    align-items: center;
    
}

.card-body{
    display:flex;
    flex-direction:column;
    align-content:center;
    align-items:center;
    width:17rem;
    height:20rem;
    box-shadow: 0px 0px 38px -21px rgba(2,114,155,0.68);
    opacity:0.8;
}

.card-body.first{
    background: #ffffff;
}
.card-body.second{
background: #ffffff;;
}
.card-body.third{
    background:#ffffff;
}
.card-body.fourth{
    background:#ffffff;
}


.profile-image {
    width:12rem;
    height:12rem;
    border-radius:50%;
    border: 2px solid;
}

.card-body h1 {
font-size:1.5rem;
text-transform:capitalize;
font-weight:200%;
}

.short-description {
    font-size:1.2rem;
    text-align: center;
    border-top:2px solid;
    border-bottom:2px solid;
    margin:3px;
    padding:1px;
}

.social {
    display:block;
    justify-content:center;
    align-items: center;
    width:100%;
    margin:auto;
    
}
ul.social-media {
    display:flex;
    justify-content:space-around;
    margin-right:25px;   
}

.social-media li{
    list-style:none;
}
.social-media .fa {
    text-decoration:none;
    font-size:3rem;
    text-align: center;
    transition:all 0.4s ease;
}
.social-media .fa:hover {
    opacity: 0.8;
}

.fa-github-square{
    color:black;
}
.fa-linkedin-square{
     color:#006292
}
.fa-list-alt{
     color:darkgoldenrod;
}
@media screen and (min-width:480px){
    .card-wrapper{
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: center;
    align-items:center;    
    }
    }
.social-media i{
        font-size:3rem;
    }
    .fa-github-square{
        color:black;
    }
    .fa-linkedin-square{
        color:darkblue;
    }
    .fa-list-alt{
        color:darkgoldenrod;
    }
    @media screen and (min-width:480px){
        .card-wrapper{
            flex-direction: row;
            flex-wrap:wrap;
            justify-content: center;
            align-items:center;    
        }
}

@media only screen and (min-width: 1120px){
    .card-body{
        margin:2vw; 
    }}


