body{
    box-sizing: border-box;
    background-color: blanchedalmond;
}

.cards-wrapper{
    display:flex
}

h1.heading{
    text-transform:uppercase;
    font-style:sans-serif;
    font-size:12px;
}