body{
    box-sizing: border-box;
    margin: 0;
    background-image: linear-gradient(to bottom, #615de280, rgb(170, 170, 170));
    height: 100vmax;
    margin: 0;
    color: rgb(97, 58, 0);
}

.headWrapper{
    display: flex;
    align-items: flex-start;
}

img{
    width: 30%;
    height: auto;
    margin: 2%;
    object-fit: contain;
    border: 2px solid rgb(43, 25, 25);
}

div.nameAndMotto{
    margin: 0;
    font-size: 1.5em;
}

.projectsWrapper{
    display: grid;
    grid-auto-columns: 1fr 1fr 1fr;
    grid-auto-flow: column;

}

div.projectsWrapper>div{
    display: flex;
    flex-flow: column;
    border: 1px solid rgb(43, 25, 25);
    align-items: center;
    text-align: center;

}

footer{
    display: flex;
    flex-flow: column;
    place-items: center center;
}

