body {
  margin: 0;
}


/* ADDS COOL EFFECT FOR CARDS */

.card:hover{
  transform: scale(1.08)
}

/* Styling of the closing button of welcome window */

#menuButton{
    float: right;
    font-size: 30px;
    color: white;
    background: black;
    width: 50px;
    height: 50px;
}

/* Hides the welcome window */

div.menuIsHidden{
    display: none;
}

.gameRules{
    text-align: center;
    font-size: 3.6vw;
    margin: 20px 50px 20px;
    white-space: wrap;
}

.diffText{
    text-align: center;
    font-size: 3.2vw;
    display: block;
}

#buttonInstruction,
#selectDifficultyEasy,
#selectDifficultyHard,
#showScoreButton {
  background: rgb(26, 1, 1);
  color: rgb(255, 255, 153);
  font-family: 'Roboto', sans-serif;
  margin: 3% 3%;
  padding: 2% 2%;
  font-size: 1.5em;
  text-align: center;
  cursor: pointer;
  border-style: solid;
  border-width: 5px;
  border-color: white;
  flex-basis: 170px;
}
#buttonInstruction:hover,
#selectDifficultyEasy:hover,
#selectDifficultyHard:hover,
#showScoreButton:hover{
transform: scale(1.025);
}

.backgroundDiv {
  width: 100vw;
  height: 100vh;
  background-color: rgb(26, 1, 1);
  position: fixed;
  top: 0;
}

.instruction{
    width: 80%;
    height: 60%;
    display: block;
    position: fixed;
    margin: 5em auto;
    background-color: white;
    font-family: 'Roboto', sans-serif;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    border: 20px outset green;
    z-index: 2;
    opacity: 1;
    color: green;
}

.difficultyHide {
  display: none;
}

.buttonContainer {
  margin-top: 4em;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#diffContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#selectEasy, #selectHard{
    padding: 2% 2% 3%;
    margin: 2% 2%;
    width: 16vw;
    height: 8vh;
    font-size: 1em;
    flex-basis: 150px;
    cursor: pointer;
}

.menuButtonHidden{
    display: none;
}

.menuButtonShown{
    display: block;
}

.containerForTimeScore {
    background: rgb(26, 1, 1);
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#timer, #score{
    color: #fff;
    font-size: 0.9em;
    margin: 0px 5em 0px 2em;
    width: 5em;
    white-space: nowrap;
}
.label{
    font-size: 1.5rem;
    padding-left: 0.25rem;
}
#score{
    opacity: 1;
}

.putScoreShow{
  width: 80%;
  height: 60%;
  display: block;
  position: fixed;
  margin: 5em auto;
  background-color: white;
  font-family: 'Roboto', sans-serif;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  border: 20px outset green;
  z-index: 2;
  display: block;
  opacity: 1;
  color: green;
}

.putScoreHide{
  opacity: 0;
  display: none;
}

#scoreWindowShow{
  margin: 32% 16% 5%;
  min-width: 50px;
}

.scoreWindowShow{
display: block
}

.scoreWindowHide{
  display: none;
}

#highScoresShow{
  margin: 5% 16%;
  min-width: 50px;
}

#showTop{
  float: right;
  width: 5rem;
  height: 5rem;
  font-size: 1rem;
}

#scoreWindowHide{
  display: none;
}

#putLogin #finalScore{
  padding: 30% 30%;
  margin: 7% 7%;
}

#putLogin{
  padding: 3% 3%;
  margin-top: 2rem;
  margin-left: 1.8rem;
  margin-right: 1rem;
  width: 25vw;
  height: 5vh;
  font-size: 0.7rem;
  text-align: center;
}

#scoreButton{
  float: right;
  font-size: 110%;
  color: white;
  background: black;
  width: 20%;
  height: 10%;
}

#finalScore{
  text-align: center;
}

#highScoresList{
  text-align: center;
  list-style: none;
  padding-left: 0;
}

.high-score, #finalScore{
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.high-score:hover {
  transform: scale(1.025)
}

@media all and (min-width: 481px) and (max-width: 1120px){
    .gameRules{
      font-size: 2.7vw;
    }
    #scoreButton{
      font-size: 90%;
      width: 7%;
    }
    .high-score, #finalScore{
      font-size: 1.2rem;
    }
    #putLogin{
      padding: 3% 3%;
      margin-top: 2rem;
      margin-left: 30%;
      margin-right: 3rem;
      width: 20vw;
      font-size: 0.8rem;
      text-align: center;
    }
    #scoreWindowShow{
      margin: 5% 16% 5%;
    }
      #buttonInstruction,
      #selectDifficultyEasy,
      #selectDifficultyHard,
      #showScoreButton {
        font-size: 1.2em;
        margin: 0.5% 0.5%;
        padding: 0.5% 0.5%;
    }
    #timer, #score{
      color: #fff;
      font-size: 1.4em;
    }
}

@media all and (min-width: 1120px){
    .gameRules{
        font-size: 2.2vw;
    }
    .diffText{
        text-align: center;
        font-size: 2vw;
        display: block;
    }
    .diffText p{
        margin-bottom: 0px;
    }
    #selectEasy, #selectHard{
        width: 9vw;
        height: 4vh;
        font-size: 1vw;
    }
    #selectEasy, #selectHard{
        padding: 0% 0%;
        margin-bottom: 2em;
    }
    #putLogin{
      padding: 3% 3%;
      margin-top: 2rem;
      margin-left: 30%;
      margin-right: 3.5rem;
      width: 20vw;
      font-size: 1.2rem;
    }
    #scoreWindowShow{
      margin: 3% 16% 5%}
    #scoreButton{
        font-size: 80%;
        width: 4%;
    }
    .high-score, #finalScore{
      font-size: 1.2rem;
    }
  #buttonInstruction,
  #selectDifficultyEasy,
  #selectDifficultyHard,
  #showScoreButton {
    font-size: 1.2em;
    margin: 0.5% 0.5%;
    padding: 0.5% 0.5%;
  }
  #timer, #score{
    color: #fff;
    font-size: 1.4em;
  }
  #highScoresShow{
    margin: 1% 16%;
    min-width: 50px;
  }
  #highScoresList{
    font-size: 0.5em;
  }
}
