body {
    box-sizing: border-box;
    background-color: rgb(26, 1, 1);
    font-family: 'Press Start 2P', cursive; 
}

.wrapper {
    display: flex;
    justify-content:  center;
    flex-direction: column;
    align-items: center;
}

.gridContainer {
    display: grid;
    width: 50vh;
    height: 50vh;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: repeat(4, 25%);
    justify-content: center;
}

.gridContainerHard {
    display: grid;
    width: 60vh;
    height: 60vh;
    grid-template-columns: repeat(6, 16.6%);
    grid-template-rows: repeat(6, 16.6%);
    justify-content: center;

}

.card{
    background-image: url('../logo.png');
    background-size: cover;
    background-color: rgb(255, 255, 153);
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10%;
    margin: 2px;
    user-select: none;
}

.card:hover{
    transform: scale(1.08)
}

.cardsAreMatching {
    transform: rotate(90deg) translateX(900px);
    background-color: blue;
    opacity: 0;
    visibility: hidden;
    transition: all 1000ms linear;
}

.cardsArentMatching {
    /* transform: rotate(90deg); */
    background-color: red;
    background-image: none;
    transition: all 1000ms linear;
}

.cardIsHighlighted {
    /* background-color: yellow; */
    animation: cardIsHighlighted  0.5s linear both;
    background-color: green;
    background-image: none;
    transform: background-image;

}

.cardIsHighlighted>img{
    transform: rotate(180deg)
}

.cardsArentMatching>img{
    transform: scaleX(-1)
}

@keyframes cardIsHighlighted {
    0% {

              transform: scale(1) rotateX(0);
    }
    50% {

              transform: scale(2.5) rotateX(-90deg);

    }
    100% {

              transform: scale(1) rotateX(-180deg);

    }
  }


header {
  display: flex;
  width: 100%;
  justify-content: center;
  color: white;
  text-align: center;
  font-size: 1.5em;
  height: auto;

}

header h1 {
    font-size: 1.75em;
}

canvas {
    position: fixed;
    top: 0;
    

}

.hiddenCanvas {
    display: none;
}


.congratsConfetti {
    display: none;
}

.showCongratsConfetti {
    position: fixed;
    top: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    font-family: 'Press Start 2P', cursive;
    line-height: 100vh;
    color: white;
    text-align: center;
    font-size: 1.75rem;
}

.home{
    height: 60px;
    width: auto;
    margin: 2px;
   

}



.homeLink{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    /* margin-right: 5%;
    margin-left: 1%;
    margin-top: 1%; */
    /* position: absolute;
    top: 0;
    left: 0; */
    width: fit-content;
    justify-self: center;
    justify-content: center;
    border: 5px white solid;
    z-index: 2;
}

.homeLink:hover{
    transform: scale(1.025);
    }

.homeLinkWrapper{
    display: flex;
    justify-content: center;
    margin-top: 1%;
}

@media (max-width: 480px){

    .gridContainer {
        width: 70vw;
        height: 70vw;
    }
    
    .gridContainerHard {
        width: 90vw;
        height: 90vw;
    }

}

@media (max-width: 837px) and (min-width: 481px){

    .gridContainerHard {
        width: 70vw;
        height: 70vw;
    }

}