.instruction{
    width: 80%;
    height: 80%;
    display: block;
    position: fixed;
    /* margin: 50px 30px; */
    background: white;
    font-size: 25px;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: yellow;
    border: 110px solid rgba(255, 0, 0, .5);
}

#menuButton{
    float: right;
    color: white;
    background: red;
}

div.menuIsHidden{
    display: none;
}

.gameRules{
    text-align: center;
    font-size: 35px;
}