* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.nav {
    background-color: rgba(0, 0, 0, 0.60);
    z-index: 3;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
}

.nav a {
    color: white;
    text-decoration: none;
    list-style-type: none;
    opacity: 0.9;
    padding: 6px 18px;
}

.backgroundImage img {
    height: 100vh;
    width: 100vw;
    z-index: -1;
    position: absolute;
    object-fit: cover;
    
}

.me {
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 50px;
    color: white;
    font-size: 150%;
}

.me img {
    border: 5px solid white;
    border-radius: 50%;
    padding: 2px;
    height: 10em;
    weight: 10em;
}

.me h1 {
    text-align: center;
}

.aboutMe {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 10px;
    background-color: #e6e6e6;
}

.aboutMe h2, .myProjects h2 {
    text-align: center;
    font-size: 2rem;
    margin: 20px;
}

.aboutMe p {
    text-align: center;
    font-size: 1rem;
    margin: 20px;
}

.projects {
    display: flex;
    flex-direction: column;
}

.projects div {
    border: 3px solid #e6e6e6;
    padding: 10px;
    margin: 20px;
    text-align: center;
}

.contact {
    background-color: #e6e6e6;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact h2 {
    text-align: center;
    font-size: 2rem;
    margin: 20px;
}

.contact h3, p {
    text-align: center;
    margin: 5px;
}

.contactForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.send {
    padding: 10px;
    margin: 5px;
    width: 70%;
    border: 1px solid white;
}

#sectionContact {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);
    background-color: #e6e6e6;
    align-items: center;
}

.smLinks a {
    padding: 5px;
}


@media only screen and (min-width: 500px) {

    .projects {
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(2, auto);
        grid-column-gap: 30px;
        justify-items: center;
    }

    .projects div {
        border: 3px solid #e6e6e6;
        padding: 10px;
        margin: 20px;
        width: 100%;
        height: auto;
    }

    .aboutMe {
        height: 250px;
    }

    .backgroundImage img {
        height: 100vh;
        width: 100vw;
        z-index: -1;
        filter: brightness(50%);
        position: absolute;
        object-fit: cover;
    }

    #sectionContact {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        background-color: #e6e6e6;
    }

    .send {
        padding: 10px;
        margin: 5px;
        width: 100%;
        border: 1px solid white;
    }

}